@{
    
    foreach (var article in ViewBag.DisplayPosts)
    {
        <a class="ArchiveLink" href="@Url.Action("Post", "Post", new { id = article.Id })">@article.Title</a><p>by @article.CreatedBy</p>
        <p>@article.CreatedOn</p>
        <br/>
    }       
}